---
layout: default
title:  RVC
---

<img src="images/RVC_logo.png"></img>

<p><strong>RVC</strong> stands vor "<strong>R</strong>eusable <strong>V</strong>erilog <strong>C</strong>omponents"
and is a collection of general purpose Verilog modules.</p>

<p>Please refer to the
<a href="https://github.com/hotwolf/RVC/blob/master/doc/RVC_manual.pdf">RVC manual</a> for further information.</p>

{% include LatestPosts.html %}
