body {
    /* Screen gradient light: #33a998 */
    /* Screen gradient dark:  #1b5246*/
    /* Screen no gradient:  #288475*/
	background: #288475;
	min-width: 800px;
	margin:  0;
	padding: 0;
	z-index: 0;
	overflow: auto;
	font-family: "Synchro LET", "OCR A Extended", "Agency FB", Consolas, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
}

#background1 {
	/* Background gradient for Webkit browsers */
	background: -webkit-gradient(radial, 40% 30%, 0,
				                         40% 30%, 400,
				                         from(#33a998),
				                         to(#1b5246)) fixed 0 0;
	width: 100%;
	min-width: 800px;
	height: 100%;
	margin:  0;
	padding: 0;
	z-index: 1;
	top: 0;
	left: 0;
	position: fixed;
}

#background2 {
	/* Background gradient for Gecko browsers */
	background: -moz-radial-gradient(40% 30%, circle cover, #33a998 0%, #1b5246 100%) fixed 0 0;
	width: 100%;
	min-width: 800px;
	height: 100%;
	margin:  0;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

#background3 {
	/* Background grid */
	background: url(ScreenGrid.png) repeat fixed 0 0;
	width: 100%;
	min-width: 800px;
	height: 100%;
	margin:  0;
	padding: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
}

#sidebar {
	text-align: left;
	width: 20%;
	min-width: 160px;
	position: relative;
	float: left;
	z-index: 3;
}

#sidebar .links {
	margin: 30px 0 0;
}


#sidebar .links h1 {
	font-size: 14pt;
}

#sidebar .links .link {
	font-size: 10pt;
	margin: 8px 0 0 8px;
}

#sidebar .links .link h1{
	font-size: 10pt;
	margin: 0;
}

#sidebar .links .link a.inactive{
	color: #88b5ae;
	text-shadow: #c1fff4 0 0 50px;
	text-decoration: none;
	font-size: 8pt;
}

#sidebar .links .link a.active{
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
	text-decoration: none;
	font-size: 8pt;
}

#sidebar .links .link a.active:hover {
	color: #fff;
	text-shadow: #fff 0 0 200px;
	text-decoration: none;
}

#main {
	text-align: center;
	width: 80%;
	min-width: 640px;
	position: relative;
	float: right;
	z-index: 3;
}

#main #header {
	margin: 12px 0 24px;
}

#main #header h1 {
	font-size: 36pt;
	margin: 0;
}

#main #header h2 {
	font-size: 18pt;
	margin: 0;
}

#main #content {
	font-size: 12pt;
	margin: 0;
}


#main #content p{
	padding-left:  10px;
	padding-right: 10px;
	text-align: justify;
}

#main #content ul{
	text-align: justify;
}

#main #content a{
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
}

#main #content a:hover {
	color: #fff;
	text-shadow: #fff 0 0 200px;
}




#main #content .video{
	margin: 12px 0;
}



