<div class="links">
<h1>Project links</h1>

<div class="link">
<a class="active" href="{{ site.url }}">
<h1>Home</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/RVC">
<h1>GitHub Repository</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/RVC/issues">
<h1>Bug Tracker</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/RVC/wiki">
<h1>Wiki</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="https://github.com/hotwolf/RVC/blob/master/doc/RVC_manual.pdf">
<h1>RVC Manual</h1>
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->

